.four-cardsContainer{
    /* height: 100%; */
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(249,250,251);
}

.card-wrapper{
    
    background-color: white;
}
.card_1{
   padding: 5px;
   height: 230px;

}
.card-title{
    font-size: 15px;
    margin-top: 2px;
    padding: 10px;
}
.card-text{
    font-size: 12px;
    font-weight: 500;
    padding: 4px;
    gap: 10px;
}
.four-cardsHeaderText{
    
    padding-top: 5%;
    font-size: 30px;
    color: #08445E;
    
}
.card-body{
    padding: 0;
   
}
.Tickmark-text{
    text-align: left;
    display: flex;
    flex-direction: row;
}

.Tickmark-text img{
    padding-right: 4px;
    height: 15px;
}
@media (max-width:768px) {
 .four-cardsContainer{
    height: 100%;

 }
 .four-cardsHeaderText{
    padding: 1rem 2rem 0 2rem;
    text-align: center;
}
 .card_1 > *{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: inherit;
 }
  
    
}
