.four-cardsContainer{
    /* height: 100%; */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card-wrapper{
    
    background-color: white;
}
.card_1{
   padding: 5px;
   height: 230px;
}
.card-title{
    font-size: 15px;
    margin-top: 2px;
    padding: 10px;
    margin-bottom: 10px;
}
.card-text{
    font-size: 12px;
    font-weight: 500;
    padding: 4px;
    gap: 10px;
}
.four-cardsHeaderText{
    
    padding: 5%;
    font-size: 30px;
    color: #08445E;
    
}
.card-body{
    padding: 0;
   
}
.Tickmark-text{
    text-align: left;
    display: flex;
    flex-direction: row;
}

.Tickmark-text img{
    padding-right: 4px;
    height: 15px;
}
@media (max-width:768px) {
 .four-cardsContainer{
    height: 100%;

 }
 .card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }

}