@font-face {
    font-family: BAUHS93;
    src: url('../assets/WONO_images/img/fonts/BAUHS93.ttf');
}

@font-face {
    font-family: Bebas-Regular;
    src: url('../assets/WONO_images/img/fonts/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: Popins-Medium;
    src: url('../assets/WONO_images/img/fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: Popins-Regular;
    src: url('../assets/WONO_images/img/fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: Popins-Black;
    src: url('../assets/WONO_images/img/fonts/Poppins-Black.ttf');
}


.body-partners-master {
    background-color: white;
    /* height: 80vh; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* flex-direction: column; */
    /* overflow: hidden; */
    /* padding-left: 7rem; */
    /* padding-right: 7rem; */
}

.grow-your-business-color h2 {
    font-size: 42px;
}

.grow-your-business-color p {
    font-size: 22px;
}

.partners-section>* {
    font-family: Popins-Regular;
}

.customMargin {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 6rem;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    width: 100%;
    text-align: center;
    padding: 5rem;
}

.customMargin_top {
    display: flex;
    align-items: start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 6rem 6rem 0rem 7rem;
    width: 100%;
}


/* Default for desktop screens */
/* .element {
    
} */

/* For mobile screens (e.g., max-width 767px) */
@media (max-width: 768px) {
    .customMargin {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .custom-justify {
        justify-content: center;
    }

    .customMargin_top {
        display: flex;
        align-items: start;
        justify-content: flex-start;
        flex-direction: column;
        padding: 1rem 1rem 0rem 1rem;
        width: 100%;
    }


}

@media (min-width: 768px) {


    .custom-justify {
        justify-content: flex-start;
    }

    .testimonial-right-spacing {
        padding-right: 100px;
    }

}

.get-started-submit-button {
    width: 100%;
    border-radius: 4rem;
    background-color: black;
    color: white;
    /* padding: 0.5rem; */
    padding: 20px;
}

.partner-button-space {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.partner-submit-button {
    justify-content: space-around;
    border-radius: 4rem;
    background-color: black;
    color: white;
    /* padding: 0.5rem; */
    padding: 20px 40px;
    /* margin: auto */
}

.custom-image-biznest {
    /* width: 100%; */
    /* Image will take up the full width of its container */
    /* height: auto; */
    min-height: 400px;
    /* Maintains the image's aspect ratio */
}

/* .grow-your-business-color {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    width: 100%;
} */

.container,
.row {
    max-width: 100%;
}

.customWidth {
    width: 60%;
    margin: auto;
}

.last-spacing {
    margin-bottom: 30px;
}

.smaller-font-for-para {
    font-size: 14px !important;
}

.full-width-image {
    width: 100%;
}