@font-face {
    font-family: Popins-Regular;
    src: url('../assets/WONO_images/img/fonts/Poppins-Regular.ttf');
}

/* .themePage-master {
    padding: 2rem 7rem;
} */

.themePage-master * {
    font-family: Popins-Regular;
}

.themePage-header {
    margin-bottom: 2rem;
    padding: 2rem 7.5rem;
}
.themePage-header h2{
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 30px;
}
.themePage-header p{
    font-weight: 600;
}

.themePage-content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem 7.5rem;
}

.themePage-content-header {
    text-align: left;
    padding: 0 7.5rem;
}

.theme-grid {
    width: 100%;
    height: 350px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.theme-grid img {
    width: 120%;
    height: 100%;
    object-fit: cover;
    transition: all 0.2s ease;
}

.theme-grid img:hover {
    transform: scale(1.2);
    cursor: pointer ;
}

.themePage-featured {
    height: 100vh;
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 7.5rem;
}

.themePage-featured-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    padding: 2rem;
    gap: 1rem;
    border-radius: 10px;
}

.themePage-featured-grid-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.themePage-featured-header h1 {
    font-size: 4rem;
    text-align: left;
    padding: 0 3rem;
    margin-bottom: 40px;
}

.themePage-featured-content {
    width: 100%;
    /* padding-left: 3rem; */
}

.themePage-featured-button {
    display: flex;
    justify-content: start;
}

.themePage-featured-grid-2 {
    width: 100%;
    border-radius: 20px;
    height: 400px;
    position: relative;
}

.themePage-featured-grid-2 img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: contain;
    /* margin-bottom: 40px; */
    /* object-position: bottom; */
}
.themePage-website-features{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 4rem 7.5rem;
    height: 100vh;
}
.themePage-website-features-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    text-align: left;
}
.themePage-website-features h1{
    font-size: 4rem;
    margin-bottom: 4rem;
}
.themePage-website-header{
    padding-right: 30%;
    width: 100%;
    text-align: left;
}


.themePage-website-support-section{
    padding: 4rem 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(233, 249, 255);
}
.themePage-website-support{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.themePage-website-support-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    vertical-align: middle;
}
.themePage-website-support-header{
    
    width: 100%;
    text-align: left;
}
.themePage-website-support-header h1{
    font-size: 4rem;
    margin-bottom: 4rem;
}

.themePage-website-support-grid-1{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 0.5rem;
    
}
.themePage-website-support-grid-1 h2{
    margin-bottom: 2rem;
}
.themePage-website-support-grid-1 p{
    /* white-space: nowrap; */
}
.themePage-website-support-grid-1 span{
    font-weight: bold;
    border-bottom: 2px solid black;
    transition: border 0.3s ease;
}
.themePage-website-support-grid-1 span:hover{
    cursor: pointer;
    border: none;
}

.themePage-website-success-section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    padding: 0 7rem;
    background-color: rgb(153, 221, 255);
}
.themePage-website-success{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4rem 2rem;
    border-radius: 20px;
    background-color: white;
}


