* {
    margin: 0;
    padding: 0;
}

.master-container {
    background-color: white;
    height: 100%
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: BAUHS93;
    src: url('../assets/WONO_images/img/fonts/BAUHS93.ttf');
}

@font-face {
    font-family: Bebas-Regular;
    src: url('../assets/WONO_images/img/fonts/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: Popins-Medium;
    src: url('../assets/WONO_images/img/fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: Popins-Regular;
    src: url('../assets/WONO_images/img/fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: Popins-Black;
    src: url('../assets/WONO_images/img/fonts/Poppins-Black.ttf');
}

@font-face {
    font-family: Mistral;
    src: url('../assets/WONO_images/img/fonts/MISTRAL.TTF');
}


.home-page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0.3rem 7.3rem;
}

.background-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    position: absolute;
    top: -40px;
    left: 0;
    z-index: -1;
}

.black-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    background: linear-gradient(to bottom, #ffffff00 56%, #ffffff00 56%, #0a0a0ac9 79%, #000000 100%);
    /* Semi-transparent black */
    z-index: 0;
}

.first-section-grid-item-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.first-section-grid-item-2 {
    display: grid;
    grid-template-columns: 1fr 30%;
    position: relative;
    z-index: 1;
    width: 100%;
    font-family: Popins-Regular;
    color: white;
    margin-bottom: 2.5rem;
    padding: 1rem 0.5rem 2.5rem 0.5rem;
    align-items: center;
}

.home-section-buttons {
    display: flex;
    align-items: start;
    justify-content: center;
    /* padding-left: 4.7rem; */
    width: 100%;
}


.home-section-register-button {
    width: 100%;
    margin: 0;
    background-color: rgb(13, 110, 253);
    /* padding: 0.5rem 2rem 0.5rem 2rem; */
    padding: 1rem 1.5rem;
    color: white;
    border-radius: 4rem;
    border: none;
    font-family: Popins-Regular;
    cursor: pointer;
    font-size: 16px;
}

.first-section-grid-item-2 * {
    font-family: Popins-Regular;
}

.first-section-grid-item-1 {
    flex-direction: column;
}

.text-overlay {
    color: white;
    margin-top: 5px;
}

.home-main-title {
    color: black;
    font-size: 6rem;
    font-family: Mistral;
    margin-top: 3rem;
    /* padding: 6rem 6rem 1rem 6rem; */
}


.O {
    color: rgb(10, 169, 239);
    display: contents;
    font-family: Mistral;
}

.n {
    margin-left: 22px;
}

.c {
    margin-left: 17px;
}

.home-desc {
    color: white;
    text-align: left;
    font-family: Popins-Medium;
}
.home-desc span{
    font-weight: 600;
    font-size: x-large;
    font-family: Popins-Medium;
}



.form-card {
    background-color: rgba(255, 255, 255, 255);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 60%;
}

/* Responsive styles for screens 768px and below */
@media (max-width: 768px) {
    .home-page-container {
        grid-template-columns: 1fr;
        /* Stack columns vertically */
        height: 100vh;
        /* Adjust height to fit content */
        padding: 0;
    }

    .home-main-title {
        /* padding: 0rem 2rem 2rem 2rem; */
        color: black;
        font-size: 2rem;
        font-family: Mistral;
        margin-top: 1rem;
    }

    .home-section-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        /* padding-left: 1rem; */
    }

    .home-section-register-button {
        width: 100%;
        margin: 0;
        background-color: rgb(10, 169, 239);
        padding: 0.5rem 2rem 0.5rem 2rem;
        color: black;
        border-radius: 5px;
        border: none;
        font-family: Popins-Regular;
        cursor: pointer;
    }

    .home-section-register-button {

        width: 100%;

        margin: 0;

        background-color: yellow;

        padding: 0.5rem 2rem 0.5rem 2rem;

        color: black;

        border-radius: 5px;

        border: none;

        font-family: Popins-Regular;

        cursor: pointer;

    }

    .background-div {
        height: 100%;
        /* Adjust background height to fit the container */
    }

    .first-section-grid-item-1 {
        /* display: block; */
        /* height: 100vh; */
        /* margin-bottom: 4rem; */
        margin-top: 4rem;
    }

    .first-section-grid-item-2 {

        grid-template-columns: 1fr;
        border: none;
        /* Optional: remove border if needed */
        margin-bottom: 5rem;
    }

    .home-desc {
        text-align: center;
        padding: 1rem;
        font-family: Popins-Medium;
    }

    .form-card {
        align-items: center;
        margin: 3rem 0 0rem 0;
        width: 80%;
        height: 60%;
        padding: 1.5rem;
    }

    .w {
        margin-left: -7px;
    }

    .n {
        margin-left: 5px;
    }

    .c {
        margin-left: 1px;
    }

}




.Globe-N-Commerce {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    background-color: black;
}

.Globe {
    /* flex: 0 0 40%; */
    min-width: 100%;
}

/* .Globe > {
    max-width: 100%;
} */



.N-Commerce {
    flex: 0 0 53%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Bebas-Regular;
    /* padding: 0rem 7.5rem; */
    padding-right: 6.5rem;
}

.N-Commerce>h3>strong {
    display: flex;
    font-family: Bebas-Regular;
    font-size: clamp(85px, 10vw, 170px);
    color: #fff;
    font-weight: 600;
    width: 100%;
    margin-top: 0;
    text-align: center;
    line-height: 90%;
    /* to add gap between the lines */
}

.N-Commerce p {
    color: #0875e2;
    align-self: center;
    font-size: 40px;
    width: fit-content;
    font-family: Bebas-Regular;
}

.N-Commerce a {
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 200px;
    height: 50px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 20px;
    list-style: none;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.N-Commerce a:hover {
    color: #0875e2;
    transition: 1s;

}




@media (max-width: 768px) {

    .N-Commerce {
        padding: 0rem;
    }

    .N-Commerce>h3>strong {
        font-size: clamp(75px, 22vw, 85px);
        color: #fff;
        padding: 1rem;
    }

    .Globe {
        flex: 0 0 40%;
    }

    .Nomads-list-bussiness {
        display: flex;
        flex-direction: column;

    }

    .Nomad-List-Your-Bussiness {
        font-size: 20px;
        font-weight: 100px;
        padding: 0;
        display: flex;
        flex: 1;
        margin: 0;
        border: none;
        color: white;

    }

    .Globe-N-Commerce {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .Globe img {
        width: 100%;
    }

    .N-Commerce h3 {
        font-family: BebasNeue-Regular;
        font-size: 40px;
        color: #fff;
        font-weight: 200;
        position: relative;
        text-align: center;
        letter-spacing: -2px;
    }


}



.slick-next:before {
    content: '→';
    right: -20%;
}





.button_space {
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn.btn-secondary.dropdown-toggle.w-100 {
    margin: 0;
    background-color: black;
}

.submit-button {
    width: 100%;
    border-radius: 4rem;
    background-color: black;
    color: white;
    padding: 0.5rem;
}


.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Bebas-Regular;
    flex-direction: column;
    padding: 8rem 0 8rem;
    background-color: black;
    color: white;
}

.backend-panel-container {
    padding: 4rem 6rem 4rem 6rem;
    background-color: rgb(249, 250, 251);
    color: black;
    margin: 2rem 0rem 2rem 0;
    border: 1px solid white;
    height: auto;
}

.backend-panel-container h2 {
    color: black;
    padding: 2rem 2rem 0 2rem;
    text-align: center;
}

.backend-panel {
    display: grid;
    grid-template-columns: 15% 85%;
    /* Sidebar takes 30%, content takes 70% */
    min-height: 100%;
    /* Full viewport height */
    padding: 2rem 2rem 2rem 1rem;
    background-color: white;
    gap: 1rem;
    border-radius: 20px;
}

.backend-panel-sidebar {
    background-color: white;
    color: black;
    padding: 1rem;
    height: fit-content;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    /* Drop shadow */
    position: sticky;
    /* Make the sidebar sticky */
    top: 13%;
}

.backend-sidebar a.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 1rem 0;
    color: black;
    border-bottom: 1px solid gray;
    font-family: Popins-semibold;
    border-radius: 10px;
    font-size: 0.8rem;
}

.backend-sidebar a.nav-link:hover {
    background-color: black;
    color: white;
    border-radius: 10px;
}

.backend-sidebar a.nav-link.active {
    background-color: black;
    color: white;
    border-radius: 10px;
}


.backend-sidebar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;

}

.backend-sidebar-logo {
    display: flex;
    width: 120px;
}

.backend-sidebar-logo img {
    width: 100%;
    object-fit: contain;
}

.backend-panel-right {
    height: auto;

}


.backend-panel-content {
    padding: 1rem;
    background-color: #ecf0f1;
    /* Example background color for the content area */
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    /* Drop shadow */
    display: flex;
    flex-direction: column;

}

.backend-panel-header {
    padding: 1rem;
    text-align: center;
    font-family: popins-regular;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(182, 182, 182);
    border-radius: 20px;
    margin: 0.3rem 0.3rem 1rem 0.3rem;
    position: sticky;
    /* Make the header sticky */
    top: 12.5%;
    /* Stick to the top of the viewport */
    background-color: white;
    /* Ensure the background is consistent */
    z-index: 2;
    /* Ensure it stays above content */
}



.backend-panel-content::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, and Opera */
}


@media (max-width:768px) {
    .backend-panel {
        height: fit-content;
        grid-template-columns: 1fr;
    }

    .backend-panel-container {
        padding: 0.5rem;

    }

    .backend-sidebar {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
    }

    .backend-panel-sidebar {
        position: static;
        /* Remove sticky positioning */
        overflow-x: auto;
        /* Enable horizontal scrolling */
        white-space: nowrap;
        /* Prevent line breaks */
    }

    .backend-panel-sidebar::-webkit-scrollbar {
        display: none;
    }


    .backend-sidebar a.nav-link {
        margin-right: 1rem;
        /* Add spacing between items */
        border-bottom: none;
        /* Remove bottom border */
        padding: 0rem 0.3rem 0 0.3rem;
    }

    .backend-panel-header {
        position: sticky;
    }

    .backend-sidebar-header {
        justify-content: space-between;
        display: flex;
        justify-content: center;
        position: sticky;
        left: 0;
    }
}

.dashboard-container-home {
    color: black;
}

.hero-desc {
    font-size: 320px;
    text-align: center;
    line-height: 0.9;
    font-weight: 600;
    padding: 4rem 1rem 4rem 1rem;
}

.hero-desc2 {
    font-size: 80px;
    margin-top: '3rem';
    color: blue;
    line-height: '0.9'
}

@media (max-width: 768px) {
    .hero-container {
        padding-top: 16rem;
        padding-bottom: 10rem;
    }

    .hero-desc {
        font-family: Bebas-Regular;
        font-size: 80px;
        padding: 0;
        font-weight: 600;
        position: relative;
        text-align: center;
        line-height: 5rem;
        letter-spacing: 0px;
    }

    .hero-desc2 {
        text-align: center;
        font-size: 50px;
        color: blue;
    }
}

.hero-button {
    font-weight: 500;
    font-size: 20px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    color: black;
    /* border: 2px solid var(--color-primary); */
    border: 2px solid #fff;
    font-family: Bebas-Regular;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: white;
}

.hero-button:hover {
    border: 1px solid black;
}


/* world map */

.world-map {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    margin-top: 2rem;
    width: 100%;
    height: 500px;
}

.world-title {
    text-align: center;
    padding: 1rem;

}

.world-title>h2 {
    font-family: Popins-Regular;
    font-size: 60px;
    font-weight: 700;
    position: relative;
    color: black;

}

.image-space {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-world {
    background-color: black;
    width: 100%;
    border-radius: 1rem;
}


/* .website-builder {
    background-color: black;
    color: white;
    overflow: hidden;
    height: 100vh;

} */

/* 
.website-builder-title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    margin-bottom: 6rem;
}

.website-builder-grid-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */

.website-container-master {
    height: 100%;

}

.website-container-master>* {
    font-family: Popins-Regular;
}

.website-panel-container {
    padding: 4rem 7.5rem 4rem 7.5rem;
    background-color: #e9f9ff;
    color: black;
    margin: 2rem 0rem 0 0;

}

.website-panel-container h2 {
    color: black;
    /* padding: 2rem; */
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
}

.website-panel-container h3 {
    color: black;
    /* padding: 2rem; */
    text-align: center;
    margin-bottom: 20px;
}
.website-panel-container p {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 20px;
}

.website-panel {
    min-height: 100%;
    padding: 2rem 0rem 2rem 0rem;
    gap: 1rem;
    border-radius: 20px;
}

/* .website-panel-header {

} */

.website-panel-sidebar {
    background-color: white;
    color: black;
    padding: 1rem;
    height: fit-content;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    /* Drop shadow */
    position: sticky;
    /* Make the sidebar sticky */
    top: 13%;
}

.website-sidebar a.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 1rem 0;
    color: black;
    border-bottom: 1px solid gray;
    font-family: Popins-semibold;
    border-radius: 10px;
    font-size: 0.8rem;
}

.website-sidebar a.nav-link:hover {
    background-color: black;
    color: white;
    border-radius: 10px;
}

.website-sidebar .nav-link.active {
    background-color: black;
    color: white;
    border-radius: 10px;
}

.website-sidebar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}

.website-sidebar-logo {
    display: flex;
    width: 120px;
}

.website-sidebar-logo img {
    width: 100%;
    object-fit: contain;
}

.website-panel-right {
    height: auto;
}

.website-panel-right a {
    display: block;
    color: black;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.website-panel-right a:hover {
    text-decoration: underline;
}

.website-panel-content {
    display: grid;
    grid-template-columns: 50% 1fr;
    padding: 2rem 0;
    gap: 2rem;

    margin-bottom: 20px;
}

.template-preview-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 350px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.template-preview-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all ease 0.3s;
    vertical-align: middle;
}


.website-panel-content::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, and Opera */
}


@media (max-width:768px) {
    .website-container-master {
        height: 100%;
    }

    .website-panel {
        height: fit-content;
        /* grid-template-columns: 1fr;
        padding: 1rem; */
    }

    .website-panel-container {
        padding: 0.5rem;
    }

    .website-sidebar {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
    }

    .website-panel-sidebar {
        position: static;
        /* Remove sticky positioning */
        overflow-x: auto;
        /* Enable horizontal scrolling */
        white-space: nowrap;
        /* Prevent line breaks */
    }

    .website-panel-sidebar::-webkit-scrollbar {
        display: none;
    }

    .website-panel-content {
        grid-template-columns: 1fr;
    }


    .website-sidebar a.nav-link {
        margin-right: 1rem;
        /* Add spacing between items */
        border-bottom: none;
        /* Remove bottom border */
        padding: 0rem 0.3rem 0 0.3rem;
    }

    .website-panel-header {
        position: sticky;
    }

    .website-sidebar-header {
        justify-content: space-between;
        display: flex;
        justify-content: center;
        position: sticky;
        left: 0;
    }
}


/* testimonials */

.testimonial-section {
    /* background-color: #cae4ff !important; */
    margin-top: 0 !important;
    padding: 1rem 6.5rem 1rem 8rem;
}

.testimonial-section>* {
    font-family: Popins-Medium;
}

@media (max-width:768px) {
    .testimonial-section {
        /* background-color: #cae4ff !important; */
        margin-top: 0 !important;
        padding: 1rem;
    }
}


/* slider */


.home-website-slick-dots {
    bottom: 10px;
    /* Position dots at the bottom of the slider */
    display: none !important;
    justify-content: center;
}

.home-website-slick-dots li {
    margin: 0 5px;
    /* Space between dots */
}

.home-website-slick-dots button {
    background-color: white;
    /* Default color for inactive dots */
    border-radius: 50%;
    width: 10px;
    height: 10px;
    padding: 0;
}

.home-website-slick-dots .slick-active button {
    background-color: #000;
    /* Color for the active dot */
}

.home-website-slick-prev,
.home-website-slick-next {
    width: 10px;
    /* Width of the arrow */
    height: 10px;
    /* Height of the arrow */
    background-color: transparent;
    /* Background color of the arrow */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    /* Color of the arrow icon */
    font-size: 20px;
    /* Size of the arrow icon */
    cursor: pointer;
    /* display: none; */
}

.home-website-slick-prev {
    left: 10px;
    /* Position from the left side */
    z-index: 1;
    /* Ensure it’s above other content */
}

.home-website-slick-next {
    right: 10px;
    /* Position from the right side */
    z-index: 1;
    /* Ensure it’s above other content */
}

/* Optional: Customize the appearance of the arrow icons */
.home-website-slick-prev::before,
.home-website-slick-next::before {
    font-size: 20px;
    line-height: 1;
    z-index: 10;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



@media (max-width:768px) {


    .website-builder {
        grid-template-columns: 1fr;
    }

    .website-builder-grid-1 {
        width: 100%;
        height: 100%;
    }

}

.template-slide {
    padding: 0 10px;
    /* Adjust left and right padding for spacing */
    margin-top: 10px;
}


.template-container>div {
    padding: 0 4rem 0 4rem;
}

.template-card {
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    border-radius: 20px;
}

.slick-slide.slick-active.slick-current .template-card {
    transform: scale(1.5);
    border-radius: 20px;

}

.slick-slide.slick-active .template-card {
    /* margin-left: 25rem;  */
    /* background-color: blue; */
    border-radius: 20px;
}

.template-card img {
    width: 100%;
    height: 100%;
    /* Adjust height to fit within the card */
    object-fit: cover;
    object-position: top;
}
.last-section *{
    font-family: Popins-Regular;
}

@media (max-width:768px) {

    .template-slide {
        padding: 0 10px;
        /* Adjust left and right padding for spacing */
        width: 70% !important;
        margin-left: 13%;
    }

    .template-card {
        padding: 0;
    }

    .template-container>div {
        padding: 0;
    }

    .template-content-image img {
        object-fit: cover;
    }
}