@font-face {
    font-family: Popins-Medium;
    src: url('../assets/WONO_images/img/fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: Popins-Regular;
    src: url('../assets/WONO_images/img/fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: Popins-Black;
    src: url('../assets/WONO_images/img/fonts/Poppins-Black.ttf');
}

.capital-master *{
    font-family: Popins-Regular;
}

.headingContainer{
    
    height: 350px;
    position: relative;
    margin-left: 80px;
    margin-right: 80px;
}
.capital-heading{
    width: 100%;
    text-align: center;
    padding-top: 4rem;
    padding-left: 30%;
    padding-right: 30%;
    position: absolute;
    font-family:Popins-regular;
    font-size: 40px;
    font-weight: bold;
    
}
.capital-heading-sub{
    width: 100%;
    text-align: center;
    padding-top: 7.3rem;
    padding-left: 30%;
    padding-right: 30%;
    position: absolute;
    font-family:Popins-regular;
    font-size: 40px;
    font-weight: bold;
    
}
.connect-with-us-btn{
    position: absolute;
    bottom: 5rem;
    right: 20px;
    width: 200px;
    height: 50px;
    background-color: black;
    color: white;
    font-family: Popins-Regular;

}
.capital-cards-section{
    background-color: black;
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 10px;
    justify-content: space-evenly;
}

.cards-with-text h3{
    color: white;
    font-size: 20px;
    font-family: Popins-Regular;
}
.cards-with-text p{
    color: white;
    font-family: Popins-Regular;
    position: relative;
    margin-top: 0;
    font-size: 15px;
    padding-bottom: 50px;
    border-left: 1px solid white;
    padding-left: 5px;

}
.cards-with-text p span{
    color: antiquewhite;
}

.capital-img {
    max-width: 350px;
    border-radius: 10px;
    height: 400px;
    overflow-x: hidden;
}
.capital-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
}
.capital-img img:hover{
   width: 100%;
}
.plus-icon{
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
    bottom: 60px;
    font-size: 35px;
    z-index: 1;
    border-radius: 50px;
    height: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    left:80%;
    width: 50px;
    
}
.plus-icon:hover{
    color: white;
    background-color: #CF9FFF;
    cursor: pointer;
}
.capital-big-text {
    font-family: Popins-Regular;
    /* padding: 5% 4rem 5% 4rem; */
    padding: 4rem 7rem;
    
}
.capital-big-text h1{
    font-size: 60px;
    font-family: Popins-Regular;
    line-height: 4 rem;
}
.three-card-images{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height:100%;
    gap: 6px;
    
}
.three-card-images .card-img-1{
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.card-img-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.big-end-image{
    width: 100%;
    height:90%;
    position: relative;
    background-color: black;
}
.big-end-image img{
    height: 35rem;
    width: 100%;
    
}
/* .back-wrapper-dashboard-img{
    width: 100%;
    height: 200px;
    background-color: black;
    z-index: 2;
    position: absolute;
} */
.capital-last-button-section{
    position: relative;
    background-color:#0093E9;
    background-image:linear-gradient(160deg , #0093E9 0%, #80D0C7 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 4rem 7rem 6rem 7rem ;
    border-bottom: 1px solid rgba(13,110,253);
    
}
.capital-last-button-section h1{
    color: black;
    font-family: Popins-Regular;
    font-size: 97px;
    font-weight: bold;
    padding-bottom: 2rem;
   
    

}
.Connect-with-us-today-btn{
    width: 400px;
    height: 50px;
    background-color:black;
    color: white;
    font-family: Popins-Regular;
    
    
}

.frictionless-heading-with-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4rem 12rem;
}
.frictionless-heading-with-btns h1{
    font-size:  70px;
    font-family: popins-Regular;
    color: white;
    text-align: center;
}
.frictionless-btns{
    margin-top: 2%;
}
.capital-start-for-free-btn{
    margin-top: 5%;
    width: 150px;
    height:50px;
    border-radius: 5px;
    font-family: popins-Regular;
}
 .btn2{
    border-color: 1px solid white;
    background-color: black;
    color: white;
}
.frictionless-heading-with-btns h1 span{
    color: rgba(13,110,253);
}
.big-end-dashboard-img {
    padding: 0 8% 0 8%;
}
.hero_animation-container{
    position: relative;
    margin-left: 10px;
}
.hero__animation{
    fill: none;
    stroke: #00a071;
    stroke-width: 4;
    stroke-miterlimit: 0;
    stroke-dasharray: 1650;
    stroke-linecap: round;
    animation: animateScribble 2s ease-out .5s forwards;
    height: 100px;
    left: -3.5rem;
    opacity: 0;
    position: absolute;
    top: -10px;
    transform-origin: left;
    z-index: -1;
    padding-bottom: 18px;
    padding-left: 40px;
}


   


@keyframes animateScribble {
    0% {
        stroke-dashoffset: 1650;
        opacity: 1;
        transition: stroke-dashoffset 0s .4s, opacity .4s;
    }
    100% {
        stroke-dashoffset: 0;
        opacity: 1;
        transition: stroke-dashoffset .5s cubic-bezier(.645,.045,.355,1);
    }
}







/* Responsiveness of cards section */

@media (max-width:768px){
    .capital-cards-section{
        overflow-x: auto;
        
    }
    .headingContainer{
        display: flex;
        margin-left: 0;
        margin-right: 0;
       
    }
    .capital-heading{
        position: relative;
        font-size: 26px;
        padding-top: 4rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .connect-with-us-btn{
        right: 20%;
        align-items: flex-start;

    }
    .capital-big-text h1{
        font-size: 25px;
        
    }
    .three-card-images{
        display: flex;
        flex-direction: column;
        height:100px;
        margin-bottom: 40%;
    }
    /* Green-Round -Marker-heading */
    .hero__animation{
        padding-left: 20px;
        padding-bottom: 10px;
        height: 60px;
    }
    /* End */
    /* 4cards section */
   
    .capital-cards-section {
        padding-left: 2rem;
        padding-right: 2rem;
        

      
    }
    .frictionless-btns{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
        font-size: 15px;
    }
    .big-end-dashboard-img{
        height: 16rem;
    }
    
    .big-end-image img{
        height: 16rem;
        width: 100%;
        padding-bottom: 0;
        
    }

    .capital-img {
        min-width: 228px; /* Adjust to the calculated width */
        width: 100%;     /* Ensure it scales down for smaller screens */
        height: 200px;     /* Adjust height to maintain the aspect ratio */
    }
    .plus-icon{
        font-size: 20px;
        height: 30px;
        width: 30px;
    }
    /* end */
    /* 3 Crads section */
    .three-card-images{
        display: flex;
        flex-direction: row;
        height: 300px;
        overflow: hidden;
        margin-bottom: 0;
        width: 100%;
    }
    .card-img-1 {
        
        width: 100%;
        height: 100%;
        position: relative;
    }
    .card-img-1 img{
        width: 100%;
        height: 100%;
        object-fit: fill;
        object-position: center;
    }
    
    
    .frictionless-heading-with-btns h1{
        font-size: 25px;
    }
    .capital-last-button-section h1{
        font-size: 25px;
        padding-bottom: 0;
    }
    .capital-heading-sub{
        font-size: 26px;
        padding-left: 0;
        padding-right: 0;
        padding-top: 7rem;
    }
}
@media (min-width: 2560px) {
    .capital-img {
      max-width: calc((100vw - 14rem) / 3); /* Adjust this value based on how many images are displayed in a row */
    }
  }