@font-face {
    font-family: Popins-Medium;
    src: url('../assets/WONO_images/img/fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: Popins-Regular;
    src: url('../assets/WONO_images/img/fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: Popins-Black;
    src: url('../assets/WONO_images/img/fonts/Poppins-Black.ttf');
}

.headingContainer{
    
    height: 350px;
    position: relative;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}
.capital-heading{
    width: 100%;
    text-align: center;
    padding-top: 4rem;
    padding-left: 30%;
    padding-right: 30%;
    position: absolute;
    font-family:Popins-regular;
    font-size: 40px;
    font-weight: bold;
}
.connect-with-us-btn{
    position: absolute;
    bottom: 50px;
    right: 20px;
    width: 200px;
    height: 50px;
    background-color: black;
    color: white;
    font-family: Popins-Regular;

}
.capital-cards-section{
    background-color: black;
    padding-left: 8%;
    padding-right: 19%;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: relative;
}
.cards-with-text h3{
    color: white;
    font-size: 20px;
    font-family: Popins-Regular;
}
.cards-with-text p{
    color: white;
    font-family: Popins-Regular;
    position: relative;
    margin-top: 0;
    font-size: 15px;
    padding-bottom: 50px;

}
.cards-with-text p span{
    color: antiquewhite;
}

.capital-img {
    width: 285px;
    border-radius: 10px;
    height: 400px;
    overflow: hidden;
}
.capital-img img{
    width: 110%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
}
.capital-img img:hover{
   width: 100%;
}
.plus-icon{
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
    bottom: 60px;
    font-size: 35px;
    z-index: 1;
    border-radius: 50px;
    height: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    left:80%;
    width: 50px;
    
}
.plus-icon:hover{
    color: white;
    background-color: #CF9FFF;
    cursor: pointer;
}
.capital-big-text {
    font-family: Popins-Regular;
    padding: 5% 10% 5% 9%;
    
}
.capital-big-text h1{
    font-size: 60px;
    font-family: Popins-Regular;
    line-height: 4 rem;
}
.three-card-images{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height:100%;
    gap: 6px;
    
}
.three-card-images .card-img-1{
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.card-img-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.big-end-image{
    width: 100%;
    height:90%;
    
    background-color: black;
}
.big-end-image img{
    height: 100%;
    width: 100%;
    
}
.capital-last-button-section{
    position: relative;
    background-color:#0093E9;
    background-image:linear-gradient(160deg , #0093E9 0%, #80D0C7 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 300px;
    border-bottom: 1px solid rgba(13,110,253);
    
}
.capital-last-button-section h1{
    color: black;
    font-family: Popins-Regular;
    font-size: 80px;
    font-weight: bold;
    padding-bottom: 20px;

}
.Connect-with-us-today-btn{
    width: 400px;
    height: 50px;
    background-color:black;
    color: white;
    font-family: Popins-Regular;
    
    
}

.frictionless-heading-with-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5% 19% 5% 19%;
}
.frictionless-heading-with-btns h1{
    font-size:  70px;
    font-family: popins-Regular;
    color: white;
    text-align: center;
}
.frictionless-btns{
    margin-top: 5%;
}
.capital-start-for-free-btn{
    margin-top: 5%;
    width: 150px;
    height:50px;
    border-radius: 5px;
    font-family: popins-Regular;
}
 .btn2{
    border-color: 1px solid white;
    background-color: black;
    color: white;
}
.frictionless-heading-with-btns h1 span{
    color: rgba(13,110,253);
}
.big-end-dashboard-img{
    padding: 3% 8% 3% 8%;
}




/* Responsiveness of cards section */

@media (max-width:768px){
    .capital-cards-section{
        overflow-x: auto;
        
    }
    .headingContainer{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .capital-heading{
        position: relative;
        font-size: 25px;
    }
    .connect-with-us-btn{
        position: absolute;
        right: 0px;
        bottom: 10px;
    }
    .capital-big-text h1{
        font-size: 25px;
        
    }
    .three-card-images{
        display: flex;
        flex-direction: column;
        height:100px;
        margin-bottom: 40%;
    }



}