@font-face {
    font-family: Popins-SemiBold;
    src: url('../assets/WONO_images/img/fonts/Poppins-SemiBold.ttf');
}

.border {
    width: 5%;
    border-bottom: 3px solid orange;
}
.jobrole-arrow{
    margin: 0 0 0 1rem;
    font-weight: 600;
    color: #52565e;
    border: 2px solid #52565e;
    padding: 8px;
    border-radius: 7px;
    transition: background-color ease 0.2s;
}
.jobrole-arrow:hover{
    margin: 0 0 0 1rem;
    font-weight: 600;
    color: white;
    border: 2px solid white;
    padding: 8px;
    border-radius: 7px;
    background-color: black;
}


@media (max-width: 768px) {
    .jobrole-arrow{
        margin: 0 0 0 5rem;
        font-weight: 600;
        color: #52565e;
        border: 2px solid #52565e;
        padding: 8px;
        border-radius: 7px;
        transition: background-color ease 0.2s;
    }
    .jobrole-arrow:hover{
        margin: 0 0 0 5rem;
        font-weight: 600;
        color: white;
        border: 2px solid white;
        padding: 8px;
        border-radius: 7px;
        background-color: black;
    }
}

.career-job-title{
   font-size: 1.5rem;
   margin: 10 0;
   color: #000;
   margin: 0;
}

 .accordion-button:not(.collapsed) {
    color: var(--bs-accordion-active-color);
    background-color: white;
    box-shadow: none;
}

.accordion-button:focus {
    z-index: 3;
    outline: 0;
    box-shadow: none;
}
@media (max-width:768px)
{
    .text-button{
        text-align: left !important;
    }

}
/*
i.fa.fa-cheveron-right {
    color: black;
    font-family: Popins-Semibold;
    font-size: 16px;
    margin: 0 0 0 20px;
    font-weight: "600";
    border: 2px solid #52565e;
    padding: 0.5rem;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease
}
i.fa.fa-cheveron-right:hover {
background-color: black;
color: white;
}
*/